<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Activity Spin</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="!loading">
		<div *ngIf="activities.length === 0">
			<h3>Welcome!</h3>
			<p>
				Welcome to Activity Spin, start your fun by creating an activity below. 
			</p>
			<button ion-button 
					block 
					color="primary"
					(click)="create()">Create Activity</button>
			<p>Also, you'll need to stock your pantry to ensure you have the supplies necessary to have fun.</p>
			<button ion-button
					block
					color="secondary"
					(click)="viewPantry()">Manage Pantry</button>
		</div>
		<div *ngIf="activities.length > 0">
			<section *ngIf="currentActivity" class="current-activity">
				<h3>
					Current Activity
				</h3>
				<ion-item>
					{{currentActivity.name}}
				</ion-item>
				<button ion-button icon-left block color="secondary" (click)="completeActivity()">
					<ion-icon name="checkmark"></ion-icon> Complete
				</button>
				<button ion-button icon-left block color="danger" (click)="discard()">
					<ion-icon name="close"></ion-icon> Discard
				</button>
				<button ion-button icon-left block color="primary" (click)="viewActivity()">
					<ion-icon name="eye"></ion-icon> View
				</button>
			</section>
			<div *ngIf="currentActivity == null">
				<ion-fab top right (click)="selectFilters()">
					<button ion-fab mini>
						<ion-icon name="funnel" class="smaller"></ion-icon>
					</button>
				</ion-fab>
				<activities-spinner [activities]="toDo"
									(activitySelected)="activitySelected($event)"></activities-spinner>
			</div>
			<ion-fab bottom right>
				<button ion-fab color="secondary" (click)="create()">
					<ion-icon name="add"></ion-icon>
				</button>
			</ion-fab>
			<ion-fab bottom left>
				<button ion-fab color="primary" (click)="viewPantry()">
					<ion-icon name="clipboard"></ion-icon>
				</button>
			</ion-fab>
		</div>
	</div>
</ion-content>