activities-spinner {
	.container {
	  position: relative;
	  min-height: 16em;
	}
	.chevron {
		width: 0;
		height: 0;
		border: 8px solid transparent;
		border-bottom: 8px solid black;
		position: absolute;
		top: -5px;
		left: 50%;
		margin-left: -8px;
		z-index: 1;
	}
	.chevron:after {
		content: '';
		position: absolute;
		left: 50%; 
		margin-left: -8px;
		top: 8px;
		width: 0;
		height: 0;
		border: 8px solid transparent;
		border-top: 16px solid black;
	}

	.circle {
		width: 240px;
		height: 240px;
		position: relative;
		border-radius: 200px;
		box-shadow: 0px 0px 20px -5px;
		margin: 1em auto;
		transition: 1.5s ease-out;
		box-sizing: content-box;
	}

	.btn {
		display: block;
		position: relative;
		width: 75%;
		background-color: rgba(229,5,5,1);
		color: #fff;
		padding: 1.2em 0;
		font-size: 2em;
		text-transform: uppercase;
		border-radius: 3px;
		text-align: center;
		margin: 1.5em auto;
		box-shadow: 0px 9px 0px rgba(185,0,0,1), 0px 9px 25px rgba(0,0,0,.7);
	}

	.btn:active{
		top: 6px;
		box-shadow: 0px 1px 0px rgba(185,0,0,1), 0px 7px 20px rgba(0,0,0,.7);
	}

	.spin {
		transform: rotate(1080deg);
	}

	.knob {
		position: absolute;
		top: 50%; left: 50%;
		margin-left: -1em;
		margin-top: -1em;
		width: 2em; height: 2em;
		border-radius: 50%;
		background: #fa1414;
		background: -webkit-linear-gradient(-90deg, rgba(239,197,202,0.4) 0, rgba(210,75,90,0.6) 25%, rgba(186,39,55,0.6) 35%, rgba(186,39,55,0.6) 65%, rgba(241,142,153,0.4) 100%), #f90404;
		background: -moz-linear-gradient(180deg, rgba(239,197,202,0.4) 0, rgba(210,75,90,0.6) 25%, rgba(186,39,55,0.6) 35%, rgba(186,39,55,0.6) 65%, rgba(241,142,153,0.4) 100%), #f90404;
		background: linear-gradient(180deg, rgba(239,197,202,0.4) 0, rgba(210,75,90,0.6) 25%, rgba(186,39,55,0.6) 35%, rgba(186,39,55,0.6) 65%, rgba(241,142,153,0.4) 100%), #f90404;
		background-position: 50% 50%;
		box-shadow: 0 0 10px -1px #333;
		content: '';
	}
}