activities-spinner {
	.container {
	  position: relative;
	  min-height: 16em;
	}
	.chevron {
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom: 10px solid black;
		position: absolute;
		top: -5px;
		left: 50%;
		margin-left: -10px;
		z-index: 1;
	}
	.chevron:after {
		content: '';
		position: absolute;
		left: 50%; 
		margin-left: -10px;
		top: 10px;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-top: 20px solid black;
	}

	.circle {
		position: relative;
		margin: 1em auto;
		border: solid 1em white;
		width: 16em; height: 16em;
		border-radius: 50%;
		box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
		background: linear-gradient(36deg, #272b66 42.34%, transparent 42.34%),
			linear-gradient(72deg, #2d559f 75.48%, transparent 75.48%),
			linear-gradient(-36deg, #9ac147 42.34%, transparent 42.34%) 100% 0,
			linear-gradient(-72deg, #639b47 75.48%, transparent 75.48%) 100% 0, 
			linear-gradient(36deg, transparent 57.66%, #e1e23b 57.66%) 100% 100%,
			linear-gradient(72deg, transparent 24.52%, #f7941e 24.52%) 100% 100%,
			linear-gradient(-36deg, transparent 57.66%, #662a6c 57.66%) 0 100%,
			linear-gradient(-72deg, transparent 24.52%, #9a1d34 24.52%) 0 100%, 
			#43a1cd linear-gradient(#ba3e2e, #ba3e2e) 50% 100%;
		background-repeat: no-repeat;
		background-size: 50% 50%;
		transition: 1.5s ease-out;
	}

	.btn {
		position: relative;
		width: 8em;
		background-color: rgba(229,5,5,1);
		color: #fff;
		padding: 1.2em 0;
		font-size: 2em;
		text-transform: uppercase;
		border-radius: 3px;
		text-align: center;
		margin: 1.5em auto;
		box-shadow: 0px 9px 0px rgba(185,0,0,1), 0px 9px 25px rgba(0,0,0,.7);
	}

	.btn:active{
		top: 6px;
		box-shadow: 0px 1px 0px rgba(185,0,0,1), 0px 7px 20px rgba(0,0,0,.7);
	}

	.spin {
		transform: rotate(1080deg);
	}

	.knob {
		position: absolute;
		top: 50%; left: 50%;
		margin-left: -1em;
		margin-top: -1em;
		width: 2em; height: 2em;
		border-radius: 50%;
		background: #fa1414;
		background: -webkit-linear-gradient(-90deg, rgba(239,197,202,0.4) 0, rgba(210,75,90,0.6) 25%, rgba(186,39,55,0.6) 35%, rgba(186,39,55,0.6) 65%, rgba(241,142,153,0.4) 100%), #f90404;
		background: -moz-linear-gradient(180deg, rgba(239,197,202,0.4) 0, rgba(210,75,90,0.6) 25%, rgba(186,39,55,0.6) 35%, rgba(186,39,55,0.6) 65%, rgba(241,142,153,0.4) 100%), #f90404;
		background: linear-gradient(180deg, rgba(239,197,202,0.4) 0, rgba(210,75,90,0.6) 25%, rgba(186,39,55,0.6) 35%, rgba(186,39,55,0.6) 65%, rgba(241,142,153,0.4) 100%), #f90404;
		background-position: 50% 50%;
		box-shadow: 0 0 10px -1px #333;
		content: '';
	}
}